<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mongo File Upload</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Upload File to MongoDB</h2>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" required/>
    <button type="submit">Upload</button>
</form>

<div th:if="${fileId}">
    <p>Uploaded Successfully!</p>
    <a th:href="@{'/files/' + ${fileId}}">Download File</a>
</div>

</body>
</html>
